strip() ek Python string method hai jo ek string ke shuru aur ant mein se whitespace characters ko hata deta hai. Whitespace characters include spaces, tabs, and newline characters.

In [ ]:
string_example = "   Hello, World!   "
stripped_string = string_example.strip()
print(string_example)
print(stripped_string)

   Hello, World!
Hello, World!

insert()

In [ ]:
arr = [4,6,7,8]
print("list1 :",arr)
arr.insert(2,65)
print("list2 :",arr)

list1 : [4, 6, 7, 8]
list2 : [4, 6, 65, 7, 8]

extend()

In [ ]:
arr = [4,6,7,8]
print("list1 :",arr)
arr.extend([9,12,45])
print("list2 :",arr)

list1 : [4, 6, 7, 8]
list2 : [4, 6, 7, 8, 9, 12, 45]

append()

In [ ]:
arr = [4,6,7,8]
print("list1 :",arr)
arr.append(45)
print("list2 :",arr)

list1 : [4, 6, 7, 8]
list2 : [4, 6, 7, 8, 45]

reverse

In [ ]:
arr.reverse()
print(arr)

[45, 8, 7, 6, 4]

reversed

In [ ]:
arr2=list[reversed(arr)]
print(arr2)

list[<list_reverseiterator object at 0x7c7b23a79e40>]

In [ ]:
arr2=reversed(arr)
print(arr2)

<list_reverseiterator object at 0x7c7b23c3e470>

remove()

In [ ]:
arr.remove(45)
arr

[8, 7, 6, 4]

pop()

In [ ]:
arr.pop()
arr

[8, 7, 6]

python doesn't include last element means less then format not less then equal to

slicing : gives advantage on large array as particulater set of array

In [ ]:
arr=[4,6,7,8,90,12,45,76,13,89]
slice_list=arr[2:]
print(slice_list)
slice_list=arr[2:8]
print(slice_list)
slice_list=arr[:]
print(slice_list)

[7, 8, 90, 12, 45, 76, 13, 89]
[7, 8, 90, 12, 45, 76]

negative slicing wen we want to access array from behind

In [ ]:
slice_list=arr[:-2]
print(slice_list)
slice_list=arr[-2:]
print(slice_list)

[4, 6, 7, 8, 90, 12, 45, 76]
[13, 89]

slicing always have 3 element (start:end:steps)

positive step

In [ ]:
slice_list=arr[2:8:2]
print(slice_list)

[7, 90, 45]

negative step

In [ ]:
slice_list=arr[::-1]
print(slice_list)

[89, 13, 76, 45, 12, 90, 8, 7, 6, 4]

list comprehension
(i).square chahiye = x^2
(ii).1 se 11 k bich me chahiye = 1-11
(iii).(x mode 2 == 0) or (x % 2 == 1) or (x % 2 == 2)

In [ ]:
for x in range (1,11):
  if x%2==1:
    print(x**2)

1
9
25
49
81

list comprehension [first print: second range :condition third print]

In [ ]:
l2=[x**2 for x in range (1,11) if x%2==1]
print(l2)

[1, 9, 25, 49, 81]


List comprehension ek tarika hai jisse aap ek hi line mein list ko create kar sakte hain, aur isse code short aur easy to understand ho jata hai. Iska basic idea yeh hai ki aap ek expression ka istemal karte hue iterable (jaise ki list, tuple, ya range) par loop chalate hain aur ek naya list bana lete hain.

In [ ]:
arr=[]
for x in range (1,11):
  if x%2==1:
    arr.append(x**2)
print(arr)

l2=[x**2 for x in range (1,11) if x%2==1]
print(l2)

[1, 9, 25, 49, 81]
[1, 9, 25, 49, 81]

sort()

In [ ]:
ar=[2,3,4,5,6,1,0]
ar.sort()
print(ar)

[0, 1, 2, 3, 4, 5, 6]

sum()

In [ ]:
ar=[2,3,4,5,6,1,0]
s1=sum(ar)
print(s1)

21

max()

In [ ]:
ar=[2,3,4,5,6,1,0]
s2=max(ar)
print(s2)

6

len()

In [ ]:
ar=[2,3,4,5,6,1,0]
s1=len(ar)
print(s1)

7

map() - map ek built-in function hai Python mein, jo ek function aur ek iterable (jaise ki list, tuple, ya string) ko lekar ek naya iterable banaata hai. Is function mein diye gaye function ko har element par apply karta hai aur ek naya iterable banaata hai.

In [ ]:
ar=list(map(int,input()))

In [ ]:
# Function to calculate square of a number
def square(x):
    return x ** 2

# List of numbers
numbers = [1, 2, 3, 4, 5]

# Using map to apply the square function to each element of the list
squares = map(square, numbers)

# Converting the map object to a list
squares_list = list(squares)

print(squares_list)

[1, 4, 9, 16, 25]

In [ ]:
# Function to double a number
def double(x):
    return x * 2

# List of numbers
numbers = [1, 2, 3, 4, 5]

# Using map to apply the double function to each element of the list
doubled_numbers = map(double, numbers)

# Converting the map object to a list
doubled_numbers_list = list(doubled_numbers)

print(doubled_numbers_list)

[2, 4, 6, 8, 10]

string manipulation  ka use text data ke sath kai tarah ke tasks mein hota hai, jaise ki data cleaning, data analysis, aur text processing.

1. Concatenation: Do strings ko ek saath jodna.

In [ ]:
str1 = "Hello"
str2 = "World"
result = str1 + " " + str2
print(result)
# Output: Hello World

Hello World

2. Slicing: Strings ko specific portions mein divide karna.

In [ ]:
text = "Python Programming"
substring = text[0:6]
print(substring)
# Output: Python

Python

3.Searching and Replacement: Kisi substring ko dhundhna aur use replace karna.

In [ ]:
sentence = "Python is easy and Python is fun"
new_sentence = sentence.replace("Python", "Java")
print(new_sentence)
# Output: Java is easy and Java is fun

Java is easy and Java is fun

4. Changing Case: Strings ke case ko badalna (uppercase, lowercase).

In [ ]:
text = "Hello World"
upper_text = text.upper()
lower_text = text.lower()
print(upper_text)
print(lower_text)
# Output: HELLO WORLD
#         hello world

HELLO WORLD
hello world

5. Splitting: String ko kisi delimiter ke basis par multiple parts mein divide karna.

In [ ]:
sentence = "This is a sample sentence."
words = sentence.split(" ")
print(words)
# Output: ['This', 'is', 'a', 'sample', 'sentence.']

['This', 'is', 'a', 'sample', 'sentence.']

6. Join: join ek string manipulation technique hai jo strings ko ek saath jodne mein madad karta hai. Iska basic idea yeh hai ki aap ek delimiter (separator) ke sath kai strings ko concatenate (jod) karke ek bada string banate hain.

In [ ]:
# List of words
words = ["Hello", "World", "Python", "Programming"]

# Using join to concatenate the words with a space separator
sentence = ' '.join(words)

print(sentence)
# Output: Hello World Python Programming

Hello World Python Programming

7. Reverse: reverse karna bhi common operation hai. Aap ek string ko reverse karne ke liye kuch tareeko ka istemal kar sakte hain.

(i).Slice Notation:

In [ ]:
original_string = "Hello"
reversed_string = original_string[::-1]
print(reversed_string)
# Output: olleH

(ii).Using reversed function:

In [ ]:
original_string = "Hello"
reversed_string = ''.join(reversed(original_string))
print(reversed_string)
# Output: olleH

(iii).Using Loop:

In [ ]:
original_string = "Hello"
reversed_string = ""
for char in original_string:
    reversed_string = char + reversed_string
print(reversed_string)
# Output: olleH

For every alphabet split we can use list and join method ka istemal kar sakte hain.

In [ ]:
# Sentence
sentence = "This is a sample sentence."

# Using list and join to split the sentence into words and then split each word into alphabets
alphabet_list = list(' '.join(sentence.split()))

print(alphabet_list)
# Output: ['T', 'h', 'i', 's', 'i', 's', 'a', 's', 'a', 'm', 'p', 'l', 'e', 's', 'e', 'n', 't', 'e', 'n', 'c', 'e', '.']

['T', 'h', 'i', 's', ' ', 'i', 's', ' ', 'a', ' ', 's', 'a', 'm', 'p', 'l', 'e', ' ', 's', 'e', 'n', 't', 'e', 'n', 'c', 'e', '.']

check every alphabet not space should be present

In [ ]:
# Sentence
sentence = "This is a sample sentence."

# Filtering alphabets and ignoring spaces
alphabets = [char for char in sentence if char.isalpha()]

print(alphabets)
# Output: ['T', 'h', 'i', 's', 'i', 's', 'a', 's', 'a', 'm', 'p', 'l', 'e', 's', 'e', 'n', 't', 'e', 'n', 'c', 'e']

['T', 'h', 'i', 's', 'i', 's', 'a', 's', 'a', 'm', 'p', 'l', 'e', 's', 'e', 'n', 't', 'e', 'n', 'c', 'e']

without built-in function

In [ ]:
# Sentence
sentence = "This is a sample sentence."

# Filtering alphabets and ignoring spaces without using built-in functions
alphabets = []

for char in sentence:
    if 'a' <= char <= 'z' or 'A' <= char <= 'Z':
        alphabets.append(char)

print(alphabets)
# Output: ['T', 'h', 'i', 's', 'i', 's', 'a', 's', 'a', 'm', 'p', 'l', 'e', 's', 'e', 'n', 't', 'e', 'n', 'c', 'e']

['T', 'h', 'i', 's', 'i', 's', 'a', 's', 'a', 'm', 'p', 'l', 'e', 's', 'e', 'n', 't', 'e', 'n', 'c', 'e']

In [ ]:
# Sentence
sentence = "This is a sample sentence."

# Filtering alphabets and ignoring spaces without using built-in functions
alphabets = []

for char in sentence:
    if 65 <= ord(char) <= 90 or 97 <= ord(char) <= 122:
        alphabets.append(char)

print(alphabets)
# Output: ['T', 'h', 'i', 's', 'i', 's', 'a', 's', 'a', 'm', 'p', 'l', 'e', 's', 'e', 'n', 't', 'e', 'n', 'c', 'e']

['T', 'h', 'i', 's', 'i', 's', 'a', 's', 'a', 'm', 'p', 'l', 'e', 's', 'e', 'n', 't', 'e', 'n', 'c', 'e']

 Map function ka use kisi function ko ek iterable ke har element par apply karne mein hota hai. Yahan ek example hai jisme map ka istemal karke strings ke har character ko uppercase kar rahe hain:

In [ ]:
# Function to convert a character to uppercase
def uppercase_char(char):
    return char.upper()

# String
text = "Hello World"

# Using map to apply the uppercase_char function to each character of the string
uppercased_text = ''.join(map(uppercase_char, text))

print(uppercased_text)
# Output: HELLO WORLD

HELLO WORLD


1.   String elements are ummutable.
2.   List elements are mutable.

In [ ]:
a="yuvraj"
# a[3]='x'
# print(a)

TypeError: ignored


*   First we need to convert string into list
each and every operate

In [ ]:
li=list(a)
li[3]='x'
print(li)

['y', 'u', 'v', 'x', 'a', 'j']

then convert back

*   Convert back again in joins

In [ ]:
st="".join(li)
print(st)

yuvxaj

3 diff things added to change string (problem becoz string is immutable)

In [ ]:
st=a[0:3]+'x'+a[4:]
print(st)

yuvxaj
yuvaj

delete element from string
can not perform function but can use slice as manipulation

In [ ]:
st=a[0:3]+a[4:]
print(st)

yuvaj

sequencing in string -

*   \n - use to create a new line formating
*   
*

In [ ]:
a= "vijet\na chaundhary"
print(a)

vijet
a chaundhary

Formatting

*   String representing
*   string in format

In [ ]:
str="{}{}{}".format("we","are","learning")
print(str)

wearelearning
we are learning
are we learning

Giving space

In [ ]:
str="{} {} {}".format("we","are","learning")
print(str)

Changing index

In [ ]:
str="{1} {0} {2}".format("we","are","learning")
print(str)

Key Specification

In [ ]:
st= "{a} {w} {l}".format(w="we", a="are", l="learning")
print(st)

are we learning

Are there any more advantage of formatting ?

*   When binary format representation
*   Converting number in binary representation

1. Decimal Format

In [ ]:
st="{0:b}".format(4)
print(st)

100


*   till 2 decimal point = " .2f"
*   till 3 decimal point = " .3f"

In [ ]:
st="{0:.2f}".format(1/6)
print(st)
print(1/6)
st="{0:.3f}".format(1/6)
print(st)

0.17
0.16666666666666666
0.167

2. Hexadecimal Format

In [ ]:
st="{0:0x}".format(15)
print(st)

f

3. Octal Format

In [ ]:
st="{0:o}".format(15)
print(st)

17

String question
1. Palindrome

In [ ]:
s=input()
if s == s[::-1]:
  print("Palindrome")
else:
  print("No")

a bba
No

2. Palindrome with condition : To check if a string is a palindrome, ignoring the cases of letters and any non-alphabetic characters

In [ ]:
def is_palindrome(s):
    # Remove non-alphabetic characters and convert to lowercase
    cleaned_string = ''.join(char.lower() for char in s if char.isalpha())

    # Check if the cleaned string is equal to its reverse
    return cleaned_string == cleaned_string[::-1]

# Example usage:
input_string = "A man, a plan, a canal, Panama!"
result = is_palindrome(input_string)
print("Is palindrome:", result)

Is palindrome: True

To find the second most repeated word in a given string

In [ ]:
from collections import Counter

def second_most_repeated_word(input_string):
    # Split the string into words
    words = input_string.split()

    # Count the occurrences of each word
    word_counts = Counter(words)

    # Find the second most common word
    second_most_common = word_counts.most_common(2)[-1][0]

    return second_most_common

# Example usage:
input_string = "this is a sample string with some repeated words this is a repeated word"
result = second_most_repeated_word(input_string)
print("Second most repeated word:", result)

Second most repeated word: is

In [ ]:
st= "we are learning"
ans= " ".join( w[::-1] for w in st.split())
print(ans)

ew era gninrael

In [ ]:
st = "we are working"
a= []
for char in st:
  if 65 <= ord(char) <= 90 or 97 <= ord(char) <= 122:
    a.append(char)
print(a)

['w', 'e', 'a', 'r', 'e', 'w', 'o', 'r', 'k', 'i', 'n', 'g']

st = "we are working "
st_rev = "working are we"

In [ ]:
sentence = input()
word_list=[]
word= ""
for char in sentence:
  if char!= " ":
    word+=char
  else:
    if word:
      word_list.insert(0, word)
      work=""
if word:
  word_list.insert(0,word)
print(word_list)

are we good
['arewegood', 'arewe', 'are']

In [ ]:
sentence=input()
word_list=[]
word=""
for char in sentence:
  if char!=" ": word+=char
  else:
    if word: word_list.insert(0, word)
    word=""
if word: word_list.insert(0,word)
print(word_list)

are we good
['good', 'we', 'are']

Matrix
1. addition

In [ ]:
x=[[1,2,3],
   [5,6,7],
   [8,9,1]]

y=[[4,5,6],
   [7,8,9],
   [2,1,4]]

result = [[0,0,0],[0,0,0],[0,0,0]]

for row in range (len(x)):
  for col in range (len(x[0])):
    result[row][col] = x[row][col] + y[row][col]
print(result)

[[5, 7, 9], [12, 14, 16], [10, 10, 5]]

In [ ]:
a = "Able was I, ere I saw Elba!"
b = ''.join(char.lower() for char in s if char.isalpha())
b == b[::-1]
if result:
    print(f"{a} is a palindrome.")
else:
    print(f"{a} is not a palindrome.")

Able was I, ere I saw Elba! is a palindrome.

In [ ]:
a = "The quick brown for jumps over the lazy dog the dog jumps over the fox"
wc = {}
w = a.split()
for i in w:
  wc[i] = wc.get(word, 0) + 1
mcommon, smcommon = sorted(wc, key=wc.get, reverse=True)[:2]

result = second_most_repeated_word(a)
print(f"The most repeated word is: {result}")

The most repeated word is: the